{% extends 'base.html.twig' %}

{% block title %}Publicaciones index{% endblock %}

{% block body %}
    <h1>Publicaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Resumen</th>
                <th>Slug</th>
                <th>Titulo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicacione in publicaciones %}
            <tr>
                <td>{{ publicacione.id }}</td>
                <td>{{ publicacione.estado }}</td>
                <td>{{ publicacione.resumen }}</td>
                <td>{{ publicacione.slug }}</td>
                <td>{{ publicacione.titulo }}</td>
                <td>
                    <a href="{{ path('app_admin_publicaciones_show', {'id': publicacione.id}) }}">show</a>
                    <a href="{{ path('app_admin_publicaciones_edit', {'id': publicacione.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_publicaciones_new') }}">Create new</a>
{% endblock %}
